body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container{
    display: flex;
    background-color: #76C8B8;
    border-radius: 48px;
    padding: 40px;
    width: 100%;
    height: 450px;
    max-width: 900px;
    align-items: center;
    justify-content: space-around;
}

.container-img{
    display: flex;
    margin-right: 10px;
    position: relative;
}

.container-img img{
    width: 90%;
    border-radius: 15px;
    display: block;
}

.contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
}

 .container-contact h1{
    font-size: 3em;
    margin: 10%;
}

.contact input{
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 25px;
    font-size: 1rem;
    outline: none;
    color: #555;
}

.contact button{
    border-radius: 20px;
    height: 35px;
    width: 50%;
}