@charset "UTF-8";

@font-face {
    font-family: 'dela-gothic';
    src: url('../fontes/DELA_GOTHIC_ONE/DelaGothicOne-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'clone-bold';
    src: url('../fontes/CLONE_ROUNDED_LATIN/clone-rounded-latin-bold.otf') format('opentype');
}

@font-face {
    font-family: 'clone-extra-bold' ;
    src: url('../fontes/CLONE_ROUNDED_LATIN/clone-rounded-latin-extra-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'clone-extra-light';
    src: url('../fontes/CLONE_ROUNDED_LATIN/clone-rounded-latin-extra-light.ttf') format(truetype);
}

@font-face {
    font-family: 'clone-light';
    src: url('../fontes/CLONE_ROUNDED_LATIN/clone-rounded-latin-light.ttf') format(truetype);
}

@font-face {
    font-family: 'clone-medium';
    src: url('../fontes/CLONE_ROUNDED_LATIN/clone-rounded-latin-medium.ttf') format('truetype');
}

@font-face {
    font-family: 'clone-regular';
    src: url('../fontes/CLONE_ROUNDED_LATIN/clone-rounded-latin-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'clone-semi-bold';
    src: url('../fontes/CLONE_ROUNDED_LATIN/clone-rounded-latin-semi-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'clone-thin';
    src: url('../fontes/CLONE_ROUNDED_LATIN/clone-rounded-latin-thin.ttf') format('truetype');
}


article#containerfaq{
    font-family: 'dela-gothic';
    display: flex;
    max-width: 1500px;
    max-height: 780px; 
    outline: 5px solid black;
}

div#texto  h1{
    text-align: center;
}

div.faq{
    max-width: 100px;
    font-size: 0.7em;
}

div.faq{
    max-width: 500px;
    min-width: 480px;
    max-height: 30px;
    background-color: white;
    outline: 1px solid black;
    border-radius: 30px;
    margin: 10px;
    padding: 8px 70px 8px 10px;
} 


